.button  {
    background-color: rgb(61, 106, 114);
    font-size: 18px;
    color: #132E35;
    letter-spacing: 2px;
    padding: .5rem 1rem;
    outline: none;
    border: none;
    cursor: pointer;
}